*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url(../Images/workspace-1280538_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    border: 3px solid black;
    background-color:rgba(240, 255, 255, 0.842);
    /* min-height: 100vh; */
    padding: 30px;
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
}

.conteiner{
    display: flex;
}

img{
    margin: auto;
    margin-bottom: 30px;
}

h1{
    margin: auto;
}

h2, li, h3{
    margin: 10px;
}

ul{
    margin-left: 20px;
}

.conteiner2{
    display: flex;
}

